
@import "tailwindcss";
body {
  margin: 0;
}

#root {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  /* background: linear-gradient(to right, #0A2947, beige); */
  /* background-image: url(./assets/hotelbg.jpg); */
  background-size: cover;
  background-repeat: no-repeat;
  animation: gradient 10s ease infinite;
}






